<%- include('../partials/header') %>

<h1 class="text-success">About Us</h1>
<p>We are passionate about making travel easy and affordable. With a fleet of well-maintained cars, we offer self-drive rental services across the city.</p>

<%- include('../partials/footer') %>
